<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medtracker.medtracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <user-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyAFK4WLnnx-G4RIV5-3wr2-Pp5LnrkmQhw" />

        <activity android:name="com.medtracker.Activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.medtracker.Activities.CreateAccountActivity" />
        <activity
            android:name="com.medtracker.Activities.SignInActivity"
            android:label="@string/title_activity_sign_in" />
        <activity
            android:name="com.medtracker.Activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.medtracker.TestingClasses.TestActivity"
            android:label="@string/title_activity_test" />

        <receiver
            android:name="com.medtracker.Utilities.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.medtracker.Activities.TakeDoseActivity" />
        <activity android:name="com.medtracker.Activities.PasswordResetActivity"></activity>
    </application>

</manifest>